# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
tests/
http/

# Python cache
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
.eggs

# Virtual environments
venv/
.venv/
env/
.env/

# Pipenv
Pipfile
Pipfile.lock

# Docker
Dockerfile
.dockerignore

# Config (需要运行时挂载)
**/config.py

# Documentation
README.md
*.md
