[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
requests = "*"
opencv-python = "*"
flask-cors = "*"
kociemba = "*"
cos-python-sdk-v5 = "*"
mysql-connector-python = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
